body {
    font-family: Arial, sans-serif;
    background-color: #121212; /* Preto */
    color: #FFFFFF; /* Branco */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

form {
    background: #6A0DAD; /* Roxo */
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    text-align: center;
}

input, button, textarea {
    width: calc(100% - 20px);
    margin: 10px 0;
    padding: 10px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
}

button {
    background: #333333;
    color: #FFFFFF;
    cursor: pointer;
}

button:hover {
    background: #6A0DAD; /* Roxo claro */
}
